<section class="top-slider">
    <div class="container top-slider__container">
        <div class="top-slider__inner">

            <div class="top-slider__wrap">
                <div class="top-slider__item">
                    <div class="top-slider__content">
                        <h3 class="top-slider__title">
                            SMART AND
                            TRENDY
                        </h3>
                        <p class="top-slider__descr">
                            Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        </p>
                        <a class="top-slider__btn btn" href="#">
                            Shop Now
                        </a>
                    </div>
                    <img src="images/header-bg.png" alt="header images">
                </div>
            </div>
            <disv class="top-slider__wrap">
                <div class="top-slider__item">
                    <div class="top-slider__content">
                        <h3 class="top-slider__title">
                            SMART AND
                            TRENDY
                        </h3>
                        <p class="top-slider__descr">
                            Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        </p>
                        <a class="top-slider__btn btn" href="#">
                            Shop Now
                        </a>
                    </div>
                    <img src="images/header-bg.png" alt="header images">
                </div>
            </disv>
            <div class="top-slider__wrap">
                <div class="top-slider__item">
                    <div class="top-slider__content">
                        <h3 class="top-slider__title">
                            SMART AND
                            TRENDY
                        </h3>
                        <p class="top-slider__descr">
                            Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        </p>
                        <a class="top-slider__btn btn" href="#">
                            Shop Now
                        </a>
                    </div>
                    <img src="images/header-bg.png" alt="header images">
                </div>
            </div>

        </div>
    </div>
</section>