html, body {
    height: 100%;
}


body {
    font-size: 16px;
    line-height: 32px;
    display: flex;
    flex-direction: column;
    color: $default;
    @extend %rubik-500;
}

.main {
    flex-grow: 1;
}

.container-large {
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    color: inherit;
}

.title {
    text-align: center;
    font-size: 36px;
    line-height: 38px;
    color: #191919;
    @extend %dmsans-700;
}

.btn {
    display: inline-block;
    padding: 20px 100px 20px 20px;
    background-color: #7aadc9;
        font-size: 15px;
        line-height: 12px;
        color: #fff;
        position: relative;
        transition: all .3s;
        &:hover {
            background-color: #2e9cd8;
        }
        &:hover::after {
            animation: anim-arrow 1s infinite;
        }
        &::after {
        content: "";
        position: absolute;
        top: calc(50% - 4px);
        right: 18px;
        width: 22px;
        height: 8px;
        background: url('../images/btn-arrow/btn-arrow.svg') center center / cover no-repeat;
    }
}



.mixitup-control-active:focus {
    color: #000;
}


.breadcrumbs {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__item {
        padding-right: 22px;
        position: relative;
        font-size: 14px;
        line-height: 24px;
        color: #979ba0;
        @extend %rubik-400;
        &::after {
            content: '/';
            position: absolute;
            right: 8px;
        }
        &:last-child,
        &:last-child::after {
            content: '';
            padding-right: 0;
            color: $accent;
        }
    }
}


.link-view {
    display: inline-block;
    max-width: 155px;
    padding: 10px 65px 10px 10px;
    white-space: nowrap;
    border: 1px solid $default;
    border-radius: 5px;
    color: #436372;
    position: relative;
    transition: all .3s;
    &:hover::after {
        animation: anim-arrow 1s infinite;
    }
    &:hover {
        box-shadow: 0 0 2px 2px rgba(78, 113, 230, 0.459);
    }
    &::after {
        content: "";
        position: absolute;
        top: calc(50% - 4px);
        right: 8px;
        width: 22px;
        height: 8px;
        background-image: url('../images/btn-arrow/btn-arrow-blue.svg');
    }
}