// mission
.mission {
    padding-top: 120px;
    margin-bottom: 115px;
    &__inner {
        display: flex;
    }
    &__content {
        padding: 84px 0 0 45px;
        padding-top: 84px;
        max-width: 560px;
    }
    &__photo {
        max-width: 570px;
        width: 100%;
        height: 670px;
        object-fit: cover;
    }
    &__years {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
    }
    &__num {
        margin-right: 30px;
        font-size: 140px;
        color: #a3bbc8;
        @extend %rubik-700;
    } 
    &__list {
        @extend %rubik-400;
    }
    &__content-title {
        margin-bottom: 45px;
        font-size: 36px;
        @extend  %dmsans-700; 
    }
    &__descr {
        margin-bottom: 28px;
        padding-bottom: 60px;
        border-bottom: 1px solid #ebeef3;
        @extend %rubik-400;
    }
    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        justify-content: center;
        font-size: 36px;
        line-height: 38px;
        @extend %dmsans-700;
        position: relative;
        &:nth-child(2)::after,
        &:nth-child(2)::before{
            content: ''; 
            position: absolute;
        }
        &:nth-child(2)::before {
            width: 1px;
            height: 100%;
            left: -30px;
            background-color: #ebeef3;
          
        }
        &:nth-child(2)::after {
            width: 1px;
            height: 100%;
            right: -30px;
            background-color: #ebeef3;
        }


        span {
            display: block;
            font-size: 16px;
            line-height: 17px;
            text-align: center;
        }
    }
    &__statistics {
        padding-left: 15px;
    }
}
/////////////////////////

@media(max-width: 1200px) {
    .mission {
        padding-top: 50px;
        &__inner {
            justify-content: center;
        }
        &__content {
            padding: 0;
            max-width: 1000px;
        }
        &__photo {
            display: none;
        }
    }
}

@media(max-width: 570px) {
    .mission {
        &__items {
            justify-content: space-around;
            flex-wrap: wrap;
        }
        &__item {
            margin: 0 10px 15px 10px;
        }
        &__item:nth-child(2) {
            &::after,
            &::before {
                display: none;
            }
        }
    }
}