<div class="services">
    <div class="container-large">
        <div class="services__items">
            <div class="services__item">
                <img class="services__icon" src="images/services/1.svg" alt="services icon">
                <div class="services__wrap">
                    <h5 class="services__subtitle">Support 24/7.</h5>
                    <p class="services__text">
                        Contact us 24 hours a day,
                        7 days a week
                    </p>
                </div>
            </div>
            <div class="services__item">
                <img class="services__icon" src="images/services/2.svg" alt="services icon">
                <div class="services__wrap">
                    <h5 class="services__subtitle">Delivery.</h5>
                    <p class="services__text">
                        Free shipping on all US order.
                    </p>
                </div>
            </div>
            <div class="services__item">
                <img class="services__icon" src="images/services/3.svg" alt="services icon">
                <div class="services__wrap">
                    <h5 class="services__subtitle">100% Payment secure.</h5>
                    <p class="services__text">
                        We ensure secure payment
                        with PEV.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>