<section class="modal">
    <div class="container">
        <form class="modal__form" action="#">
            <label class="modal__label">
                Username or email address *
                <input class="modal__input" type="text">
            </label>
            <label class="modal__label">
                Password *
                <input class="modal__input" type="password">
            </label>
            <button class="modal__btn">Login</button>
            <div class="modal__check-box">
                <label class="modal__label-checkbox">
                    <input class="modal__checkbox" type="checkbox" checked>
                    Remember me
                </label>
                <a class="modal__password" href="#">Lost your password?</a>
            </div>
        </form>
        <div class="create-account">
            <span class="create-account__text">Not registered? No problem</span>
            <a class="create-account__link" href="#">Create an account</a>
        </div>
    </div>
</section>