<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/terms-conditions.min.css">
</head>

<body>

           {% include 'app/module/_index/_header/_header.njk' %}

    <main class="main">

        <section class="top">
            <div class="container">
                <h2 class="top__title">Terms & Conditions</h2>
                
                <div class="breadcrumbs">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a class="breadcrumbs__link" href="#">Home</a>
                        </li>
                        <li class="breadcrumbs__item">
                            <a class="breadcrumbs__link" href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>

            </div>
        </section>


        <section class="info-text">
            <div class="container">
                <div class="personal-info">
                    <h3 class="personal-info__title">Types of Personal Information We Collect</h3>
                    <ol class="personal-info__list">
                        <li class="personal-info__text">
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore </p>
                        </li>
                        <li class="personal-info__text">
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore </p>
                        </li>
                        <li class="personal-info__text">
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </li>
                        <li class="personal-info__text">
                            <p>agna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        </li>
                        <li class="personal-info__text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
                        </li>
                    </ol>
                </div>

                <div class="info-text__inner">
                    <h3 class="info-text__title">
                        How marketpmss.com Collects Personal Infonnation
                    </h3>
                    <p class="info-text__descr">
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    </p>
                    <h3 class="info-text__title">
                        How marketpmss.com Collects Personal Infonnation
                    </h3>
                    <p class="info-text__descr">
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    </p>
                </div>


            </div>
        </section>

        <section class="articles">
            <div class="container">
                <div class="articles__box">
                    <h2 class="title">Our Insights & Articles</h2>
                    <a class="articles__link" href="#">View All</a>
                </div>
                <div class="articles__items">
                    <div class="articles__item">
                        <div class="articles__img-box">
                            <img class="articles__images" src="images/articles/1.jpg" alt="articles images">
                            <a class="articles__news" href="#">NEWS</a>
                        </div>
                        <div class="articles__descr-box">
                            <a class="articles__descr" href="#">
                                Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam 
                            </a>
                        </div>
                        <div class="articles__link-box">
                            <a class="articles__data" href="#">
                                &#9745; 28 JANUARY, 2020
                            </a>
                            <a class="articles__admin" href="#">&#9749; BY ADMIN</a>
                        </div>
                    </div>

                    <div class="articles__item">
                        <div class="articles__img-box">
                            <img class="articles__images" src="images/articles/2.jpg" alt="articles images">
                            <a class="articles__news" href="#">NEWS</a>
                        </div>
                        <div class="articles__descr-box">
                            <a class="articles__descr" href="#">
                                Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            </a>
                        </div>
                        <div class="articles__link-box">
                            <a class="articles__data" href="#">
                                &#9745; 28 JANUARY, 2020
                            </a>
                            <a class="articles__admin" href="#">&#9749; BY ADMIN</a>
                        </div>
                    </div>

                    <div class="articles__item">
                        <div class="articles__img-box">
                            <img class="articles__images" src="images/articles/3.jpg" alt="articles images">
                            <a class="articles__news" href="#">NEWS</a>
                        </div>
                        <div class="articles__descr-box">
                            <a class="articles__descr" href="#">
                                Rncididunt ut labore et dolore magna aliqua. Ut enim 
                            </a>
                        </div>
                        <div class="articles__link-box">
                            <a class="articles__data" href="#">
                                &#9745; 28 JANUARY, 2020
                            </a>
                            <a class="articles__admin" href="#">&#9749; BY ADMIN</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="partners">
                <div class="container">
                        <div class="partners__inner">
                            <div class="partners__slick-wrap"><img class="partners__images" src="images/partners/1.png" alt="#"></div>
                            <div class="partners__slick-wrap"><img class="partners__images" src="images/partners/2.png" alt="#"></div>
                            <div class="partners__slick-wrap"><img class="partners__images" src="images/partners/3.png" alt="#"></div>
                            <div class="partners__slick-wrap"><img class="partners__images" src="images/partners/4.png" alt="#"></div>
                            <div class="partners__slick-wrap"><img class="partners__images" src="images/partners/5.png" alt="#"></div>
                        </div>
                </div>
            </div>
        </section>


    </main>
    
     {% include 'app/module/_index/_footer/_footer.njk' %}



    <script src="js/main.min.js"></script>
</body>

</html>