// product
.product {
    padding: 70px 0 180px;
    &__items {
        min-height: 790px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px 35px;
    }
}


.tab {
    display: flex;
    justify-content: center;
    &__btn {
        padding: 0 5px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: #8b8b8b;
        transition: all .3s;
        &:hover {
            color: #000;
        }
    }
    &__btn + &__btn {
        margin-left: 30px;
    }
}
.tab-indent {
    margin: 40px 0 76px;
}


.product-item {
    position: relative;
    max-width: 270px;
    height: 375px;
    box-shadow: 1px 1px 20px -12px rgba(37, 37, 37, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    &:hover {
        .product-item__choice {
            transform: translateY(0);
        }
    }
    &--sale::before {
        content: 'SALE';
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 2px 10px;
        background-color: #fcd7b6;
        z-index: 5;
        border-radius: 10px;
        color: #000;
    }
    &__box {
        position: relative;
        max-width: 230px;
        width: 100%;
    }
    &__img {
        width: 100%;
        height: 206px;
        object-fit: contain;
    }
    &__choice {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        bottom: 10px;
        transform: translateY(3000%);
        transition: all .3s;
    }
    &__circle {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s;
        path {
            transition: all .3s;
        }
        &:hover {
            background-color: #a3bac7;
            path {
                fill: #fff;
            }
        }
    }

    &__title {
        line-height: 40px;
        @extend %dmsans-500;
    }
    &__price {
        line-height: 40px;
        @extend %dmsans-700;
        color: #a3bbc8;
    }
}

@media(max-width: 1080px) {
    .product {
        &__items {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media(max-width: 792px) {
    .product {
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
        &-item {
            max-width: 100%;
        }
    }
}

@media(max-width: 600px) {
    .product {
        &__items {
            grid-template-columns: repeat(1, 1fr);
        }
        &-item {
            margin: 0 auto;
            padding: 15px 35px;
        }
        &-item__box {
            height: 210px;
            width: 280px;
        }
    }
    .tab {
        flex-wrap: wrap;
        justify-content: center;
    }
    .tab__btn + .tab__btn {
        margin-left: 10px;
    }
}


@media(max-width: 570px) {
    .product {
        padding-bottom: 50px;
    }
}