<section class="articles">
    <div class="container">
        <div class="articles__box">
            <h2 class="articles__title title">Our Insights & Articles</h2>
            <a class="articles__link" href="#">View All</a>
        </div>
        <div class="articles__items">
            <div class="articles__item">
                <div class="articles__img-box">
                    <img class="articles__images" src="images/articles/1.jpg" alt="articles images">
                    <a class="articles__news" href="#">NEWS</a>
                </div>
                <div class="articles__descr-box">
                    <a class="articles__descr" href="#">
                        Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    </a>
                </div>
                <div class="articles__link-box">
                    <span class="articles__data" href="#">
                        &#9745; 28 JANUARY, 2020
                    </span>
                    <a class="articles__admin" href="#">&#9749; BY ADMIN</a>
                </div>
            </div>

            <di v class="articles__item">
                <div class="articles__img-box">
                    <img class="articles__images" src="images/articles/2.jpg" alt="articles images">
                    <a class="articles__news" href="#">NEWS</a>
                </div>
                <div class="articles__descr-box">
                    <a class="articles__descr" href="#">
                        Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    </a>
                </div>
                <div class="articles__link-box">
                    <span class="articles__data" href="#">
                        &#9745; 28 JANUARY, 2020
                    </span>
                    <a class="articles__admin" href="#">&#9749; BY ADMIN</a>
                </div>
            </di>

            <div class="articles__item">
                <div class="articles__img-box">
                    <img class="articles__images" src="images/articles/3.jpg" alt="articles images">
                    <a class="articles__news" href="#">NEWS</a>
                </div>
                <div class="articles__descr-box">
                    <a class="articles__descr" href="#">
                        Rncididunt ut labore et dolore magna aliqua. Ut enim
                    </a>
                </div>
                <div class="articles__link-box">
                    <span class="articles__data" href="#">
                        &#9745; 28 JANUARY, 2020
                    </span>
                    <a class="articles__admin" href="#">&#9749; BY ADMIN</a>
                </div>
            </div>
        </div>
    </div>

    <div class="partners">
        <div class="container">
            <div class="partners__inner">
                <div class="partners__slick-wrap"><img class="partners__images" src="images/partners/1.png"
                        alt="#"></div>
                <div class="partners__slick-wrap"><img class="partners__images" src="images/partners/2.png"
                        alt="#"></div>
                <div class="partners__slick-wrap"><img class="partners__images" src="images/partners/3.png"
                        alt="#"></div>
                <div class="partners__slick-wrap"><img class="partners__images" src="images/partners/4.png"
                        alt="#"></div>
                <div class="partners__slick-wrap"><img class="partners__images" src="images/partners/5.png"
                        alt="#"></div>
            </div>
        </div>
    </div>
</section>