

  


// articles
.articles {
    position: relative;
    min-height: 840px;
    padding-top: 110px;
    z-index: 5;
    &__box {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    &__link { 
        position: absolute;
        right: 0;
        padding-right: 26px;
        transition: all .3s;
        &::after {
            content: '';
            position: absolute;
            top: calc(50% - 6px);
            right: 5px;
            width: 7px;
            height: 12px;
            background: url('../images/articles/arrow.svg') center center / cover no-repeat;
        }
        &:hover:after {
            animation: anim-arrow .8s infinite;
        }
        &:hover {
            color: #2e9cd8;
        }
    }
    &__items {
        display: flex;
        align-items: flex-start;
        column-gap: 30px;
        padding-top: 40px;
    }
    &__item {
        width: 372px;
        min-height: 420px;
        position: relative;
        background-color: #fff;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        box-shadow: 1px 0 1px 0 #000;
    }
    &__img-box {
        position: relative;
        margin-bottom: 36px;
    }
    &__images {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    &__news {
        padding: 10px 32px;
        position: absolute;
        left: 30px;
        bottom: -20px;
        background-color: #a3bbc8;
        border-radius: 50px;
        font-size: 14px;
        line-height: 20px;
        color: #fff;
        overflow: hidden;
        @extend %dmsans-700;
        &:after {
            content: '';
            position: absolute;
            top: -30px;
            left: -150%;
            transform: rotate(45deg);
            width: 20px;
            height: 100px;
            background-color: #fff;
        }
        &:hover:after {
            animation: anim-news 1s infinite;
        }
    }

    &__descr-box {
        padding: 0 30px;
        position: relative;
        min-height: 80px;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 80%;
            height: 1px;
            background-color: $often;
        }
    }
    &__descr {
        display: block;
        font-size: 18px;
        line-height: 21px;
        color: #262626;
        @extend %dmsans-500;
    }

    &__link-box {
        padding: 5px 0 0 30px;
    }

    &__data {
        margin-right: 30px;
    }
    &__data,
    &__admin {
        font-size: 12px;
        line-height: 30px;
        @extend %rubik-400
    }
}

.partners {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 440px;
    background-color: #fef7f0;
    z-index: -30;
    &__inner {
        padding-top: 300px;
        cursor: grab;
        .slick-track {
            display: flex;
            align-items: center;
        }
    }

    &__images {
        margin: 0 auto;
    }
}
//////////////////////////////////

@media(max-width: 1080px) {
    .articles {
        &__items {
            justify-content: center;
            flex-wrap: wrap;
        }
        &__item {
            margin-bottom: 30px;
        }
    }
    .partners {
        margin-top: 30px;
        position: static;
        height: 155px;
        &__inner {
            padding: 30px 0;
        }
        &__images {
            padding: 0 15px;
        }
    }
}

@media(max-width: 805px) {
    .articles {
        &__item {
            width: 500px;
            margin-bottom: 30px;
        }
    }
}

@media(max-width: 570px) {
    .articles {
        padding-top: 50px;
        &__box {
            display: block;
        }
        &__title {
            margin-bottom: 30px;
        }
    }
} 


@media(max-width: 450px) {
    .articles {
        &__item {
            min-height: auto;
        }
    }
} 