<section class="design">
    <div class="container">
        <h2 class="title">New Design</h2>

        <nav class="tab tab-indent">
            <button class="filter-2 tab__btn" data-filter="all">All</button>
            <button class="filter-2 tab__btn" data-filter=".category-a">Furnitures</button>
            <button class="filter-2 tab__btn" data-filter=".category-b">Chairs</button>
            <button class="filter-2 tab__btn" data-filter=".category-c">Lighting</button>
        </nav>

        <div class="design__items">
            <div class="design__item mix category-a">
                <div class="design__wrap">
                    <a class="design__descr" href="#">
                        Beat Flat Pendant
                        Black
                    </a>
                    <a class="design__link" href="#">Classic</a>
                    <img class="design__img" src="images/design/1.png" alt="design images">
                </div>
            </div>

            <div class="design__item mix category-b">
                <div class="design__wrap">
                    <a class="design__descr" href="#">
                        Lampe Sur Pieds
                        Bamboo
                    </a>
                    <a class="design__link" href="#">Classic</a>
                    <img class="design__img" src="images/design/2.png" alt="design images">
                </div>
            </div>

            <div class="design__item mix category-c">
                <div class="design__wrap">
                    <a class="design__descr" href="#">
                        Rattan Rocking
                        Chair
                    </a>
                    <a class="design__link" href="#">Classic</a>
                    <img class="design__img" src="images/design/3.png" alt="design images">
                </div>
            </div>

            <div class="design__item mix category-b">
                <div class="design__wrap">
                    <a class="design__descr" href="#">
                        Rattan Rocking
                        Chair
                    </a>
                    <a class="design__link" href="#">Classic</a>
                    <img class="design__img" src="images/design/4.png" alt="design images">
                </div>
            </div>

            <div class="design__item mix category-c">
                <div class="design__wrap">
                    <a class="design__descr" href="#">
                        Rattan Rocking
                        Chair
                    </a>
                    <a class="design__link" href="#">Classic</a>
                    <img class="design__img" src="images/design/5.png" alt="design images">
                </div>
            </div>

            <div class="design__item mix category-a">
                <div class="design__wrap">
                    <a class="design__descr" href="#">
                        Lampe Sur Pieds
                        Bamboo
                    </a>
                    <a class="design__link" href="#">Classic</a>
                    <img class="design__img" src="images/design/6.png" alt="design images">
                </div>
            </div>
        </div>
    </div>
</section>